.movie-info-banner
{
    position: relative;

    overflow: hidden;

    width: 1160px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.movie-info-small
{
    position: relative;
    top: 0;
    right: 0;

    float: left;

    width: 900px;
    padding-bottom: 20px;
    padding-left: 20px;

    cursor: pointer;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    border: 1px solid rgba(0,0,0,0);
    border-bottom: 1px dashed rgba(0,0,0,.2);
    box-shadow: 0px 3px 3px rgba(200,200,200,.5);
    
    background-color:#fff;
}
.movie-info-small h1{
	color:rgba(0,0,0,0.7)
}
.movie-info-small:hover
{
    top: -10px;
    right: -10px;

    border: 1px solid rgba(0,0,0,.2);
}
.movie-info-small img
{
    float: left;

    width: 80px;
    height: 118px;
}
.movie-info-small p
{
    float: left;

    width: 635px;
    height: 16px;
    margin: 2px 0;
    padding-left: 10px;

    list-style: 16px;
}
